body{
    background-color:slateblue;
}

#top{
    background-color: snow;
}

#title{
    background-color: khaki ;
    margin-top: 0px;
    margin-bottom: 0px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

#title2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#title3{
    background-color:khaki;
}

#photo{
    position: relative;
    top: 19px;
}

.skillsimg{
    width: 300px;
    height: 300px;
}

#hr{
    background-color: khaki;
    width: 100%;
    height: 5mm;
    position: relative;
    top:30px;

}
h2{
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
}
h3{
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:whitesmoke;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    color:seashell;
}